* {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif, 微软雅黑;
    color: #6C6C6C;

}



ul{
    list-style: none;
}

.main-width{
    width: 1000px;
}

.color_orange{
    color: #f22e00;
    
}

.color_gray{
    color: #6C6C6C;
}

a{
    text-decoration: none;
}

.header {
    /* height: 50px; */
    background-color: #f5f5f5;
}

.header .head-container {

    height: 40px;
    /* background-color: green; */
    margin: 0 auto;
    /* line-height: 40px; */
}

.header .left{
    float: left;
}


.header  a{
    margin-left: 8px;
    line-height: 40px;
    display: inline-block;
}
.header .right{
    /* width: 500px; */
    float: right;
}

.split{
    padding: 8px 0px;
}


.befor-img-common{
    padding-left: 25px;
    background-size: 20px 20px !important;
    background-position: left center !important;
}

.car{
    background: url(imgs/ico2.png) no-repeat  left top/15px 15px; 
    
}

.header .right .store{
    background: url(imgs/ico3.png) no-repeat 10px 10px;
   
}

.startImg {
    height: 20px;
    background: url(imgs/ico1.png) no-repeat ;
    background-size: cover;
    background-position: 0px 6px;
    width: 15px;
    /* border: solid 1px red; */
    display: inline-block;
}

.container{
    margin: 0px auto;
    border: solid 1px red;
    position: relative;
}

.container .search{
    height: 150px;

}

.container .search .logo{
    background: url(https://img.alicdn.com/tfs/TB1UDHOcwoQMeJjy0FoXXcShVXa-286-118.png) no-repeat left top/142px 58px;
    width: 142px;
    height: 58px;
    margin: 40px 0px;
    float: left;
}

.container .search .searchbar{
    height: 150px;
    width: 500px;
    float: left;
    margin-left: 50px;
    padding: 10px 0px;

}

.container .search .searchbar li{
    float: left;

}

.search-top{
    margin-left: 15px;
}

.search-top::after{
    content: '';
    display: block;
    clear: both;
}

.search-top li a{
    padding: 2px 5px;
    color: #f40;
    font-size: 12px;

}

.search-top .select{
    color: #fff;
    background: linear-gradient(to right,#ff9000 0,#ff5000 100%);
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    font-weight: 700;
}

.search-top .select a{
    color: #fff;
}

.search-middle{
    position: relative;
}
.search-middle .serch-input{
    width: 400px;
    height: 30px;
    line-height: 30px;
    border: 2px solid #ff5000;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    
}

.search-middle .search-button{
    vertical-align: middle;
    /* margin-top: 1px;*/
    margin-left: -2px; 
    height: 34px;
    width: 50px;
    color: #fff;
    background: linear-gradient(to right,#ff9000 0,#ff5000 100%);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.search-img1{
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background: url(imgs/ico6.png) no-repeat left top/15px 20px;
    margin-top: 7px;
    position: absolute;
    left: 10px;
}

.search-img2{
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    background: url(imgs/ico7.png) no-repeat left top/25px 25px;
    margin-top: 5px;
    position: absolute;
    left: 370px;
}

.qrcode{
    width: 240px;
    height: 226px;
}

.qrcode img{
    width: 240px;
}